<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="JFrog-Artifactory-Nuget-Audit-Devops" value="https://tr1.jfrog.io/tr1/api/nuget/v3/nuget" protocolVersion="3" />
  </packageSources>
</configuration>
